<nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid gap-2">
        <app-button-side-menu></app-button-side-menu>
        <button class="btn btn-sm btn-outline-secondary d-sm-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <img src="../../../assets/icons/three-dots-vertical.svg" alt="3-dots-icon">
        </button>
        <div class="collapse navbar-collapse justify-content-between gap-2" id="navbarSupportedContent">
            <app-form-filter [headers]="headerTable" [keys]="keyRecords" (objectToFilter)="filterfunction($event)"></app-form-filter>
        </div>
    </div>
</nav>
<div class="table-responsive">
    <app-table-records [headers]="headerTable" [data]="recordDocuments" [keys]="keyRecords"></app-table-records>
</div>
<app-model-maps></app-model-maps>