<nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid gap-2">
        <app-button-side-menu></app-button-side-menu>
        <button class="btn btn-sm btn-outline-secondary d-sm-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
            </svg>
        </button>
        <div class="collapse navbar-collapse justify-content-between gap-2" id="navbarSupportedContent">
            <app-form-filter [headers]="headerTable" [keys]="keyRecords" (objectToFilter)="filterfunction($event)"></app-form-filter>
        </div>
    </div>
</nav>
<div class="table-responsive">
    <app-table-records [headers]="headerTable" [data]="recordDocuments" [keys]="keyRecords"></app-table-records>
</div>
<app-model-maps></app-model-maps>