<div class="btn-group btn-group-sm" role="group" *ngIf="!showSpinner">
    <button title="Editar" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#formAdd" (click)="updateDocument()">
        <img src="../../../../assets/icons/pen-nice-white.svg" alt="pen-icon">
    </button>
    <button title="Suspender" type="button" class="btn btn-warning"  *ngIf="status != null" (click)="changeValIsActive()">
        <img src="../../../../assets/icons/triangle-exclamation.svg" alt="alert-icon" *ngIf="status">
        <img src="../../../../assets/icons/check-circle-fill.svg" alt="chek-icon" *ngIf="!status">
    </button>
    <button title="Eliminar" type="button" class="btn btn-danger" (click)="deletPerson()">
        <img src="../../../../assets/icons/trash.svg" alt="trash-icon">
    </button>
</div>
<div class="btn-group btn-group-sm" role="group" *ngIf="showSpinner">
    <button type="button" class="btn btn-info" disabled>
        <span class="spinner-border spinner-border-sm text-light"></span>
    </button>
</div>