<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="d-flex flex-column sideNav py-2 px-0 border-end h-100" id="sideNav">
            <div class="text-center pt-3 pb-4" id="headerSidenav">
                <h5 class="m-0">Checador Empresarial</h5>
                <blockquote class="blockquote-footer m-0">
                    <small class="text-muted">
                        Alvaro Arturo Rojas Bobadilla
                    </small>
                </blockquote>
            </div>
            <div class="list-group list-group-flush">
                <a [routerLink]="pages.REGISTROS" class="list-group-item list-group-item-action border-top" routerLinkActive="activo">
                    <div class="d-flex flex-row align-items-center ps-3 iconAndTextPosition">
                        <img src="../../../assets/icons/stopwatch.svg" alt="stopwatch-icon">
                        <span class="ps-2">Registros</span>
                    </div>
                </a>
                <a [routerLink]="pages.EMPLOYEES" class="list-group-item py-2 list-group-item-action" routerLinkActive="activo">
                    <div class="d-flex flex-row align-items-center ps-3 iconAndTextPosition">
                        <img src="../../../assets/icons/person-credential.svg" alt="person-credential-icon">
                        <span class="ps-2">Empleados</span>
                    </div>
                </a>
                <a [routerLink]="pages.USUARIOS" class="list-group-item py-2 list-group-item-action" routerLinkActive="activo" *ngIf="savedData?.isAdmin == 'si'">
                    <div class="d-flex flex-row align-items-center ps-3 iconAndTextPosition">
                        <img src="../../../assets/icons/person-circle.svg" alt="person-circle-icon">
                        <span class="ps-2">Usuarios</span>
                    </div>
                </a>
                <a [routerLink]="pages.LOCATIONS" class="list-group-item py-2 list-group-item-action" routerLinkActive="activo" *ngIf="savedData?.isAdmin == 'si'">
                    <div class="d-flex flex-row align-items-center ps-3 iconAndTextPosition">
                        <img src="../../../assets/icons/world.svg" alt="world-icon">
                        <span class="ps-2">Ubicaciones</span>
                    </div>
                </a>
                <a type="button" (click)="logout()" class="list-group-item py-2 list-group-item-action border-bottom">
                    <div class="d-flex flex-row align-items-center ps-3 iconAndTextPosition">
                        <img src="../../../assets/icons/door-open.svg" alt="door-open-icon">
                        <span class="ps-2">Salir</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col h-100 all-content p-0 m-0">
            <div class="container-fluid h-100">
                <div class="row h-100">
                    <div class="col h-100 p-0 overflow-auto">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>