<main class="container-fluid h-100">
    <div class="row pt-5 flex-column align-items-center">
        <div class="col">
            <div class="card" *ngIf="validLinkToRestorePw == true">
                <div class="card-body">
                    <div class="card-tittle text-center">
                        <h4 class="mb-3">Cambio de contraseña</h4>
                    </div>
                    <form [formGroup]="formRestorePw" (ngSubmit)="changePw()">
                        <div class="pb-3">
                            <label for="password1" class="form-label"><h6>Nueva contraseña</h6></label>
                            <input type="password" class="form-control" id="password1" placeholder="*********" formControlName="pass1">
                        </div>
                        <div class="pb-4">
                            <label for="password2" class="form-label"><h6>Repetir nueva contraseña</h6></label>
                            <input type="password" class="form-control" id="password2" placeholder="*********" formControlName="pass2">
                        </div>
                        <div class="pb-2 text-center">
                            <button class="btn btn-outline-success" type="submit" [disabled]="formRestorePw.invalid" *ngIf="!showSpinner">
                                Aceptar 
                                <img src="../../../assets/icons/shield-fill-checked.svg" alt="shield-checked-icon">
                            </button>
                            <button class="btn btn-outline-success" type="submit" disabled="true" *ngIf="showSpinner">
                                Cargando... <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="pt-3 d-flex flex-column gap-3">
                <div class="alert alert-warning fade m-0 d-none" role="alert" id="msgInfo">
                    <p class="fw-bold m-0 py-1">Datos incorrectos</p>
                    <p class="m-0 py-1">{{textAlertMsg}}</p>
                </div>
            </div>
            <div class="card" *ngIf="validLinkToRestorePw == false">
                <div class="card-body">
                    <div class="card-tittle text-center">
                        <h4 class="mb-3">Link no valido</h4>
                    </div>
                    <p>El link que intentas utilizar posiblemente <b>ya expiro o ya fue utilizado.</b></p>
                    <p>Si requieres cambiar tu contraseña puedes generar un nuevo enlace desde
                        el formulario de login ingresando tu correo y dando click en el boton
                        "Restablecer contraseña"</p>
                    <a [routerLink]="pageLogin" class="text-center"><p>Llevame al login</p></a>
                </div>
            </div>
            <div class="card" *ngIf="validLinkToRestorePw != false && validLinkToRestorePw != true">
                <div class="card-body">
                    <div class="card-tittle text-center">
                        <h4 class="mb-3">Validando informacion</h4>
                    </div>
                    <div class="text-center">
                        <p>Espera un momento...</p>
                        <p class="spinner-grow text-warning" role="status"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>