<table class="table text-center table-hover">
    <thead>
        <tr>
            <th *ngFor="let tittle of headers">{{tittle}}</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let doc of data">
            <tr>
                <ng-container *ngFor="let key of keys">
                    <td *ngIf="key!='dateTime';else idDtCreated">{{doc[key]}}</td>
                    <ng-template #idDtCreated>
                        <td>{{doc["dateTime"].toDate() | date: "dd-MM-yyyy"}}</td>
                    </ng-template>
                </ng-container>
                <td>
                    <button class="btn btn-ligth btn-sm" data-bs-toggle="modal" data-bs-target="#mapModal" (click)="sendDocToSeeOnMap(doc)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                        </svg>
                    </button>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>