<nav class="navbar navbar-expand-md bg-light">
    <div class="container-fluid gap-2">
        <app-button-side-menu></app-button-side-menu>
        <button class="btn btn-sm btn-outline-secondary d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <img src="../../../assets/icons/three-dots-vertical.svg" alt="3-dots-icon">
        </button>
        <div class="collapse navbar-collapse justify-content-between gap-2" id="navbarSupportedContent">
            <app-form-filter [headers]="headerTable" [keys]="keyEmployees" (objectToFilter)="filterData($event)"></app-form-filter>
            <form class="d-flex flex-row gap-2" [formGroup]="formLocation">
                <input class="form-control form-control-sm" type="text" placeholder="Nombre" formControlName="name">
                <input class="form-control form-control-sm" type="text" placeholder="Direccion" formControlName="address" id="autocomplet">
                <button title="Agregar" class="btn btn-success btn-sm d-flex align-items-center" type="button" (click)="addLocation()" *ngIf="!showSpinner">
                    <img src="../../../assets/icons/check-circle-white.svg" alt="check-circle-icon">
                </button>
                <button type="button" class="btn btn-info btn-sm" disabled *ngIf="showSpinner">
                    <span class="spinner-border spinner-border-sm text-light"></span>
                </button>
            </form>
        </div>
    </div>
</nav>
<div class="d-flex flex-column justify-content-between content-locations">
    <div class="d-flex flex-row gap-2 overflow-auto p-2">
        <div class="card flex-shrink-0" role="button" *ngFor="let location of locationsData" (click)="centerMap(location.lat,location.lng)">
            <div class="card-body p-2 d-flex flex-row gap-2 align-items-center">
                <p class="m-0 fw-semibold text-capitalize">{{location.name}}</p>
                <div class="btn-group btn-group-sm" role="group">
                    <button title="Editar" type="button" class="btn btn-warning" (click)="updateLocation(location)">
                        <img src="../../../assets/icons/pen-nice-black.svg" alt="pen-icon">
                    </button>
                    <button title="Eliminar" type="button" class="btn btn-danger" (click)="deletLocation($event,location.idDocument)">
                        <img src="../../../assets/icons/trash.svg" alt="trash-icon">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="map"></div>
</div>