<form [formGroup]="formFilterData" class="d-flex justify-content-center align-items-center gap-2">
    <input class="form-control form-control-sm" placeholder="Filtrar" formControlName="filterBy" (keyup)="sendParamsToFilter()">
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="coincidencia" formControlName="exactMatch" (change)="sendParamsToFilter()">
        <label class="form-check-label text-nowrap" for="coincidencia">
          Coincidencia exacta
        </label>
    </div>
    <select class="form-select form-select-sm" formControlName="column" (change)="sendParamsToFilter()">
        <option value="none" selected>No aplicar</option>
        <option [value]="key" *ngFor="let key of keys;let i = index">{{headers[i]}}</option>
    </select>
</form>