<div class="modal fade" id="formAdd" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5>{{headerModalUser}}</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form [formGroup]="formAddUser">
                        <div class="row">
                            <div class="col-12 col-sm-6 pb-3">
                                <label for="firstName" class="form-label">Nombre(s)</label>
                                <input type="firstName" class="form-control" id="firstName" placeholder="Juan Fernando" formControlName="firstName">
                                <app-error-form-characters [touched]="formAddUser.get('firstName')!.touched" [errorPattern]="formAddUser.get('firstName')?.errors?.['pattern'] ? true : false" validCharacters="letras"></app-error-form-characters>
                                <app-error-form-required [touched]="formAddUser.get('firstName')!.touched" [errorRequired]="formAddUser.get('firstName')?.errors?.['required']"></app-error-form-required>
                            </div>
                            <div class="col-12 col-sm-6 pb-3">
                                <label for="lastName" class="form-label">Apellido(s)</label>
                                <input type="lastName" class="form-control" id="lastName" placeholder="Gonzales Sanchez" formControlName="lastName">
                                <app-error-form-characters [touched]="formAddUser.get('lastName')!.touched" [errorPattern]="formAddUser.get('lastName')?.errors?.['pattern'] ? true : false" validCharacters="letras"></app-error-form-characters>
                                <app-error-form-required [touched]="formAddUser.get('lastName')!.touched" [errorRequired]="formAddUser.get('lastName')?.errors?.['required']"></app-error-form-required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6 pb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="correo@dominio.com" formControlName="emailUser">
                                <app-error-form-characters [touched]="formAddUser.get('emailUser')!.touched" [errorPattern]="formAddUser.get('emailUser')?.errors?.['email']" validCharacters="letras, numeros y simbolos en formato de correo electronico"></app-error-form-characters>
                                <app-error-form-required [touched]="formAddUser.get('emailUser')!.touched" [errorRequired]="formAddUser.get('emailUser')?.errors?.['required']"></app-error-form-required>
                            </div>
                            <div class="col-12 col-sm-6 pb-3">
                                <label for="admin" class="form-label">¿Es admin?</label>
                                <select class="form-select" id="admin" formControlName="isAdmin">
                                    <option value="si">Si</option>
                                    <option value="no">No</option>
                                </select>
                                <app-error-form-required [touched]="formAddUser.get('isAdmin')!.touched" [errorRequired]="formAddUser.get('isAdmin')?.errors?.['required']"></app-error-form-required>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeButton" class="btn btn-danger" [ngClass]="showSpinner?'hiddenButton':''" data-bs-dismiss="modal" (click)="formAddUser.reset()">Cancelar</button>
                <button type="button" class="btn btn-success" [disabled]="formAddUser.invalid" (click)="addOrUpdateUser()" *ngIf="!showSpinner">Confirmar</button>
                <button type="button" class="btn btn-info" disabled *ngIf="showSpinner">
                    <span class="spinner-border spinner-border-sm text-light"></span>
                    Cargando...
                </button>
            </div>
        </div>
    </div>
</div>